@import "../../../scss/index.scss";

.banner-icon {
  position: relative;
  background-color: $background-light;
  height: 150px;
  margin-bottom: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .icon-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    left: 20px;
    border: 4px solid $border-dark;
  }

  .icon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .options {
    position: absolute;
    bottom: -50px;
    right: 15px;

    button {
      border-radius: 50px;
      background-color: $primary;
      font-weight: bold;
      width: 150px;

      &:hover {
        background-color: $primary;
        opacity: 0.6;
      }

      &.unfollow {
        border-radius: 50px;
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
        font-weight: bold;
        width: 150px;
        &:hover {
          border-color: $danger;
          background-color: $danger;

          &::before {
            content: "フォローを解除します。";
          }

          span {
            display: none;
          }
        }
      }
    }

    .edit-password-button {
      background-color: lightgray;
      border: none;

      &:hover {
        background-color: lightgray;
        opacity: 0.6;
      }
    }
  }
}
