@import "../../scss/index.scss";

.basic-layout {
  position: relative;
  margin-top: 70px;
  &__menu {
    padding-right: 0 !important;
  }

  &__content {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
