@import "../../scss/index.scss";

.event {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    h2 {
      font-size: 22px;
      font-weight: bold;
    }

    .right-aligned {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .form-control {
        width: 100%;
        margin-bottom: 10px;
      }

      .button-container {
        width: 200px;
        text-align: center;
        position: fixed;
        right: 0;
        bottom: 20px;
        z-index: 1;

        .btn {
          width: 70%;
          white-space: nowrap;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 30px;
        }
      }
    }
  }

  &__content {
    .btn.btn-primary {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: transparent;
      border: 0;
      color: $font-grey;

      &:hover,
      &focus {
        background-color: transparent !important;
        color: $primary;
      }
    }
  }
}
