@import "../../scss/index.scss";

.list-posts {
  .post {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* 要素を縦方向に配置 */
    padding: 10px 20px;
    border-bottom: 1px solid gray;

    .content {
      .image-container {
        max-width: 100%;
        overflow: hidden;
      }

      .post-image {
        max-width: 100%;
        height: auto;
      }
    }

    .header-container {
      /* アイコンと名前を含むコンテナ */
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      /* 下のコンテンツとの間に余白 */

      .icon-container {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
      .icon-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .name {
        font-weight: bold;

        span {
          margin-left: 10px;
          font-size: 12px;
          font-weight: normal;
          color: $font-grey;
        }
      }
    }

    .content {
      margin-left: 70px;
      /* アイコンの幅とマージンを考慮して左揃え */
      margin-bottom: 10px;
      /* アイコンコンテナとの間に余白 */
    }

    .icons-container {
      margin-left: 70px;
      /* アイコンの幅とマージンを考慮して左揃え */
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      svg {
        margin: 0 10px 10px;
        font-size: 20px;
      }

      span {
        margin-bottom: 5px;
        font-size: 20px;
      }

      .liked {
        color: red;
      }
    }
  }
}
