@import "../../scss/index.scss";

.auth {
  &__top {
    overflow: hidden;
    min-height: 50vh; // Reduced for smaller screens
    background-color: $primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; // Added padding for smaller screens

    h2 {
      font-size: 1.5rem; // Smaller font size for mobile
      margin-bottom: 20px;
      font-weight: bold;

      @media (min-width: 768px) {
        font-size: 2rem; // Larger font size for larger screens
        margin-bottom: 40px;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    padding: 100px;

    > div {
      width: 100%; // Full width for smaller screens
      max-width: 500px; // Limit width for larger screens
      margin: 0 auto;

      button {
        display: block;
        width: 100%;
        border-radius: 50px;
        font-size: 1rem; // Smaller font size for mobile
        padding: 10px 0;
        font-weight: bold;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}
