@import "../../scss/index.scss";

.auth {
  &__top {
    overflow: hidden;
    min-height: 50vh;
    background-color: $primary-light;
    background-image: url("../../assets/png/talk.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    padding: 100px;
    text-align: center;

    >div {
      width: 100%;
      min-width: 300px;
      max-width: 1000px;

      h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: bold;
        color: $primary;
        background-color: white;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 3rem;
          margin-bottom: 40px;
        }
      }

      h2 {
        font-size: 1rem;
        margin-bottom: 20px;
        font-weight: bold;
        color: $primary;
        background-color: white;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 2rem;
          margin-bottom: 40px;
        }
      }

      button {
        width: 80%;
        border-radius: 50px;
        font-size: 1rem;
        padding: 10px 0;
        font-weight: bold;
        margin: 0 auto;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.scroll-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent text from wrapping */
}