@import "../../scss/index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: $primary-light;
  font-weight: bold;
  z-index: 3;

  .hamburger-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 1000;
  }

  svg {
    margin-right: 5px;
    margin-top: 5px;
    width: 30px !important;
  }

  .logo {
    position: absolute;
    left: 10px;
  }

  a {
    margin: 35px 10px 0px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  // ボタン間のマージンを設定
  Button {
    margin: 0 5px;
  }

  // モバイルメニュー
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: $primary-light;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* これで要素が中央に配置されます */
    align-items: center;
    /* 横方向の中央揃え */
    padding: 20px;
    /* 内部の余白 */
    font-size: 20px;
  }

  .mobile-menu .logo {
    z-index: 1001;
    position: relative;
  }

  .mobile-menu a,
  .mobile-menu Button {
    z-index: 1000;
    position: relative;
    display: block;
    margin: 20px 0;
    color: white;
    text-decoration: none;
  }

  // スマートフォンの画面サイズでのスタイル
  @media (max-width: 768px) {
    a,
    Button {
      display: none;
    }

    .hamburger-menu {
      font-size: 24px;
      display: block;
    }

    // モバイルメニュー表示時
    &.show-mobile-menu {
      .mobile-menu {
        display: block;
        left: 0;
      }
    }
  }
}
