@import "../../scss/index.scss";

.participants {
  &__title {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: bold;
    }

    input {
      width: 50%;
      border-radius: 50px;
      border: 1;
      background-color: $background-light;
      padding: 5px 20px;
      color: $font-grey;

      &:focus {
        outline: none;
      }
    }
  }

  &__options {
    display: flex !important;

    .btn.btn-primary {
      background-color: transparent !important;
      font-weight: bold;
      border: 0;
      border-bottom: 1px solid $primary-grey;
      padding: 15px 0;
      border-radius: 0;
      color: black;

      &:hover {
        background-color: $primary !important;
        color: white;
      }

      &.active {
        border-bottom: 3px solid $primary;
      }
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    >div {
      margin-bottom: 10px;
    }
  }
}